@forward './define.scss';


:root {
  // navbar
  --ds-navbar-height: 56px;
  --ds-logo-height: 106px;

  --ds-header-bg-color: #ffffff;

  // slidebar
  --ds-slidebar-width: 160px;
  --ds-slidebar-collapse-width: 64px;
  --ds-slidebar-bg-color: rgb(67, 92, 113);
  --ds-slidebar-logo-bg-color: #354759;
  --ds-slidebar-logo-text-color: #ffffff;

  // menu
  --ds-menu-bg-color: rgb(67, 92, 113);
  --ds-menu-hover-bg-color: #354759;
  --ds-menu-text-color: #eaeaea;
  --ds-menu-hover-text-color: #409eff;
  // --el-sub-menu-bg-color:transparent;
  --ds-sub-menu-bg-color: #344658;
  --ds-sub-menu-hover-bg-color: rgb(67, 92, 113);
  --ds-sub-menu-active-bg-color: #354759;
  --ds-sub-menu-hover-text-color: #409eff;
}