:root {
  --el-border-radius-base: 2px;
}

.el-table__expanded-cell {
  padding: 10px 32px !important;
  .el-row {
    font-size: 12px;
    word-break: break-all;
  }
  .el-col {
    display: flex;
    padding: 5px 0;
    span {
      &:nth-child(1) {
        color: #999;
        &::after {
          content: '：';
        }
      }
      &:nth-child(2) {
        color: #333;
      }
      .el-image {
        width: 16px;
        height: 16px;
        margin-right: 5px;
      }
      a {
        display: block;
      }
    }
    a {
      cursor: pointer;
      text-decoration: underline;
      color: #134eff;
    }
  }
}

// 恢复 el-link 和 el-tag 组件的默认颜色

.el-link, .el-tag {
  --el-color-primary:#409eff;

  --el-color-primary-light-1: #53a8ff;
  --el-color-primary-light-2: #66b1ff;
  --el-color-primary-light-3: #79bbff;
  --el-color-primary-light-4: #8cc5ff;
  --el-color-primary-light-5: #a0cfff;
  --el-color-primary-light-6: #b3d8ff;
  --el-color-primary-light-7: #c6e2ff;
  --el-color-primary-light-8: #d9ecff;
  --el-color-primary-light-9: #ecf5ff;
}

