.pro-schema-form {
  display: block;
  width: 100%;
  .el-form-item__content {
    width: 100%;
  }
  .el-tree,
  .el-select {
    width: 100%;
  }
  .el-input-number {
    width: 240px;
    min-width: 200px;
  }
  .el-form--inline {
    justify-content: space-between;
    .el-form-item {
      margin-right: 0;
    }
  }
  .el-cascader,
  .el-date-editor.el-input {
    width: 100%;
  }
  .pro-table {
    min-height: 0 !important;
  }
  .pro-table-list,
  .pro-table-content {
    padding: 0 !important;
  }
  .pro-query-form {
    .el-form {
      .el-form-item {
        display: flex;
      }
      .el-form-item__label {
        margin-bottom: 0;
      }
    }
  }
}
@media (max-width: 500px) {
  .el-form--inline {
    .el-form-item {
      width: 100% !important;
    }
  }
}